.statsCon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    align-items: flex-start;
    width: 90vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 1.4vw;
}

.statsMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Sleft{
    width: 20vw;
    min-height: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
.Sright{
    width: 65vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile{
    width: 10vw;
}

.username{
    font-size: 1.5vw;
    margin: 1vw;
    text-align: center;
}

.billetera{
    min-width: 30vw;
    max-width: 35vw;
    min-height: 15vw;
    background: #091233;
    border-radius: 2vw;
    padding:2vw ;
    padding-left: 3vw;
}

.saldo{
    color: white;
    font-weight: bolder;
    font-size: 3vw;
    margin-bottom: 1vh;
}
.smallSaldo{
    color: white;
    font-weight: 400;
    font-size: 2vw;
    margin-bottom: 1vh;
}
.idWallet{
    color: white;
    font-weight: 200;
    font-size: 1vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.wijoWallet{
    color: white;
    font-size: 2vw;
    font-weight: 700;
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    width: 25vw;
    height: fit-content;
    border-radius: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-bottom: 1vw;
    background-color: #3457D2;
    font-size: 1.5vw;  
    font-weight: 700;
    gap: 1vw;
    cursor: pointer;
}


.actionsContainer{
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
}

.retirar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 2vw;
    background: #FF7F00;
    border-radius: 1.2vw;
    width: 25vw;
    height: fit-content;
    cursor: pointer;
    font-size: 2vw;
    font-weight: 600;
}

.lcancelar {
    background-color: #03afe4;
    width: 100%;
    height: fit-content;
    max-width: 200px;
    border-radius: 10px;
    color: #000;
    border: none;
    padding: 0.7vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.transactions{
    width: 60vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2vw;
    background-color: #0377e4;
    max-height: 35vh;
    border-radius: 2vh;
    overflow-y: scroll;
}

.transactions::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Chrome/Safari */
}

.transactions {
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento en Edge */
}

.transaction{
    background-color: rgb(255, 255, 255);
    border-radius: 1vw;
    padding: 1vw;
    width: 58vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoT{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fecha{
    color: rgb(1, 122, 1);
    font-weight: 600;
    margin-top: 0.5vw;
}
.amount{
    color: rgb(1, 33, 122);
    font-weight: 600;
    margin-top: 0.5vw;
}
.tipo{
    color: rgb(114, 122, 1);
    font-weight: 600;
    margin-top: 0.5vw;
}

.statsInfo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.statInfo{
    color: #fff;
    background-color: #222222;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    max-width: 15vw;
}

.excel{
    color: #000;
    background-color: #33b400;
    font-weight: 700;
    margin: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    max-width: 15vw;
    cursor: pointer;
}